body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  position: relative;
  /* padding: 2%; */
  height: 100%;
  /* To remove in future */
  border: 1px solid red;
}

.webcam {
  position: absolute;
  margin: 2%;
  right: 0;
  bottom: 0;
  z-index: 9999;
  /* TO remove in future */
  border: 1px solid black;
}
